$header-color: rgb(51, 53, 69);
$subHeader-color: rgb(31, 37, 51);
$icon-color: #575757;
$white: #ffffff;
$body-color: rgb(238, 238, 238);
$stream-color: #1F253A;
$light-gray-color: #666666;
$interest-btn-color: rgb(3, 120, 255);
$footer-support:rgb(64, 64, 67);
$tag-color:#2B3148;