@import '../../styles.scss';
@import '../../styles/_variables.scss';

.interest-card{
    padding: 16px 25px;
    background-color: $white;
    margin: 20px 0;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    .top-div{
        font-size: 16px;
        margin: 0px;    
    }
    .bottom-div{
        display: flex;
        justify-content: space-between;
        margin: 16px 0 0;
        .thumb{
            width: 20px;
            height: 20px;
            margin: 0 10px 6px 0;
        }
        .likes{
            font-size: 16px;
            font-weight: 500;
        }
        .like-description{
            width: 179px;
            margin: 0 29px 0 0;
            font-size: 12px;
            color: $light-gray-color;
            @media screen and (max-width:990px) {
                width: 140px;
            }
        }
    }
    .btn-interested{
        width: 148px;
        height: 38px;
        font-size: 16px;
        padding: 1px 6px;
        color: $interest-btn-color;
        background: $white;
        border: 1px solid  $interest-btn-color;
        border-radius: 4px;cursor: pointer;
    }
    .bottom-line{
        display: none;
    }
    @media screen and (max-width:990px) {
        padding: 0 5px;
        box-shadow: none;
        .btn-interested{
            margin: auto 0;
        }
        .bottom-line{
            display: block;
            @include bottomLine(20px, -10px)
        }
    }
}