body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #EEEEEE;
  color: #393c45; }

.interest-card {
  padding: 16px 25px;
  background-color: #ffffff;
  margin: 20px 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05); }
  .interest-card .top-div {
    font-size: 16px;
    margin: 0px; }
  .interest-card .bottom-div {
    display: flex;
    justify-content: space-between;
    margin: 16px 0 0; }
    .interest-card .bottom-div .thumb {
      width: 20px;
      height: 20px;
      margin: 0 10px 6px 0; }
    .interest-card .bottom-div .likes {
      font-size: 16px;
      font-weight: 500; }
    .interest-card .bottom-div .like-description {
      width: 179px;
      margin: 0 29px 0 0;
      font-size: 12px;
      color: #666666; }
      @media screen and (max-width: 990px) {
        .interest-card .bottom-div .like-description {
          width: 140px; } }
  .interest-card .btn-interested {
    width: 148px;
    height: 38px;
    font-size: 16px;
    padding: 1px 6px;
    color: #0378ff;
    background: #ffffff;
    border: 1px solid #0378ff;
    border-radius: 4px;
    cursor: pointer; }
  .interest-card .bottom-line {
    display: none; }
  @media screen and (max-width: 990px) {
    .interest-card {
      padding: 0 5px;
      box-shadow: none; }
      .interest-card .btn-interested {
        margin: auto 0; }
      .interest-card .bottom-line {
        display: block;
        margin: 20px -10px;
        border-bottom: 1px solid #b4b4b4; } }
