@import '../../styles.scss';
@import '../../styles/_variables.scss';

@mixin icons($rigth) {
    width: 16px;
    margin-right: $rigth;
    margin-bottom: 4px;
}
.event-details{
    @include boxShadow;

    .line{
        width: 100%;
        padding: 1rem;
        position: relative;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.48), white);
        padding: 2.3px;
        @media screen and (max-width:990px) {
            display: none;
        }
    }
    .top-section{
        @include sideSpacing;

        .event-title{
            font-weight: 600;
            font-family: sans-serif;
            color: #000;
        }
        .additional-details{
            font-size: 1.5em;
        }
        .btn-div{
            text-align: end;
        }
        .btn-register{
            @include registerButton(15px, 160px, 60px, 18px);
        }
    }

    .border-div{
        border-bottom: 0.1px solid #DDDDDD !important;
        margin: 0 15px;
    }
    
    .bottom-section{
        @include sideSpacing;
        .additional-details{
            font-size: 16px;
            font-weight: 400;
            span{
                padding: 0 30px 0 0;
            }
            .watch-icon{
                width: 18.82px;
                height: 23px;
            }
            .rupee{
                font-weight: 500 !important;
                color: black;
            }
        }
    }
    @media screen and (max-width:990px) {
        position: relative;
        bottom: -35px;
        padding-bottom: 16px;
        .top-section-mobile{
            padding: 16px;
            .event-title{
                font-size: 1.5rem;
            }
            .event-type-tag{
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                div{
                    width: fit-content;
                    padding: 0px 6px;
                    border-radius: 2px;
                    background: $tag-color;
                    height: 15px;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: $white;
                    margin: 5px ;
                }
            }
            .calender{
                @include icons(10px)
            }
            .stream{
                @include icons(12px)
            }
            .datesAndStream{
                font-size: 1.5rem;
            }
        }
        .bottom-line{
            @include bottomLine(0px, 16px)
        }
        .more-info{
            padding: 16px;
            .more-btn{
                width: 100%;
                text-align: left;
                font-size: 1.4rem;
                color: $stream-color;
                font-weight: 400;
                padding: 0px;
                outline: none;
                outline-offset: unset;
                box-shadow: none;
            }
            .event-type{
                @include icons(10px)
            }
            .duration{
                @include icons(10px)
            }
            .language{
                @include icons(10px)
            }
            .age-allowed{
                @include icons(10px)
            }
            .online-stream{
                @include icons(10px)
            }
            .label{
                color: $light-gray-color;
                font-size: 1.3rem;
                font-weight: 400;
                padding-right: 0;
                padding-left: 0px;
            }
            .info-row{
                padding: 5px 0 0 0;
            }
        }
    }
}